<div class="container-fluid">
  <div>
    <div *ngIf="project" class="container-fluid justify-content-center">

      <div class="d-flex justify-content-between flex-wrap align-items-center offset-2">
        <h2>Dashboard for {{project.name}}</h2>
      </div>

      <div class="row">

        <div class="col-2 py-4">
          <app-sidebar [states]="state" [projectId]="projectId"></app-sidebar>
        </div>

        <div class="col-5">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tickets on
                users<i (click)="updateUserStatistic()" class="refresh-icon"></i></h5>
              <div class="chart">
                <canvas baseChart
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            Last updated {{lastUpdatedPie | date:'mediumTime'}}
          </div>
        </div>
        <div class="col-5">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ticket types
                <i (click)="updateTicketTypeStatistic()" class="refresh-icon"></i></h5>
              <div class="chart">
                <canvas baseChart
                        [datasets]="radarChartData"
                        [options]="radarChartOptions"
                        [labels]="radarChartLabels"
                        [colors]="radarChartColors"
                        [chartType]="radarChartType">
                </canvas>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            Last updated {{lastUpdatedRadar | date:'mediumTime'}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
