<!-- nav -->
<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img alt="Diploma Logo" height="50" src="assets\diploma.svg" width="60">
    </a>
    <div *ngIf="currentUser" class="navbar-nav navbar-collapse collapse w-100 order-3 dual-collapse2">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a (click)="logout()" class="nav-item navbar-nav ml-auto nav-link" href="">Logout</a>
    </div>
  </nav>
</header>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
