<div class="container-fluid" style="margin-top:20px">
  <ngx-spinner bdColor="#333"
               bdOpacity=0.9
               color="#fff"
               size="default"
               type="ball-beat"></ngx-spinner>

  <div>
    <div *ngIf="ticket" class="container justify-content-center">

      <div class="row">

        <div class="py-4 d-flex justify-content-between flex-wrap align-items-center">
          <h2>Ticket Info</h2>
        </div>

        <div class="col-md-12">

          <ul class="list-group">
            <li class="list-group-item active justify-content-between d-flex">
              <span>{{ticket.name}}</span>
              <!--              <div *ngIf="eventt.ownerId === this.currentUserId" style="cursor: pointer;">-->
              <!--                <img src="assets/edit.svg" (click)="editEvent()" height="30"-->
              <!--                     width="30"/>-->
              <!--              </div>-->
            </li>
            <li class="list-group-item">Priority: {{ticket.priority}}</li>
            <li class="list-group-item">Type: {{ticket.type}}</li>
            <li class="list-group-item">Status: {{ticket.status}}</li>
            <li *ngIf="ticket.resolution != resolutions.UNRESOLVED" class="list-group-item">Resolution</li>
            <li class="list-group-item">Description: {{ticket.description}}</li>
            <li class="list-group-item">Due date: {{ticket.dueDate}}</li>
            <li *ngIf="epic" class="list-group-item">Epic:
              <a href="project/{{projectId}}/ticket/{{ticket.epicId}}">{{epic.name}}</a>
            </li>
            <li *ngIf="assignee" class="list-group-item"> Assignee: {{assignee.username}} : {{assignee.firstName}}
              {{assignee.lastName}}
              <!--              <a href="#/{{ownerLogin}}/profile">{{ownerLogin}}</a>-->
            </li>
            <li *ngIf="reporter" class="list-group-item"> Reporter: {{reporter.username}} : {{reporter.firstName}}
              {{reporter.lastName}}
              <!--              <a href="#/{{ownerLogin}}/profile">{{ownerLogin}}</a>-->
            </li>
            <li *ngIf="this.ticket.labels" class="list-group-item">
              <div class="container">
                <div class="row">
                  <label class="form-control-label" for="ticketLabels">Labels: </label>
                  <div *ngFor="let label of ticket.labels" id="ticketLabels">
                    <a class="badge badge-info" style="margin-right: 5px; color: white;">
                      #{{ label }}
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <br><br>
      <div class="row">

        <div class="col-md-12">
          <div class="form-group purple-border">
            <form (ngSubmit)="addComment()">
              <textarea [formControl]="commentControl" class="form-control" maxlength="100"
                        name="comment"
                        placeholder="What do you think about that ticket?" rows="3"></textarea>
              <button [disabled]="commentControl.invalid || isSubmitting" class="btn btn-success green offset-md-10"
                      style="margin-top: 10px" type="submit"><i
                class="fa fa-share"></i> Share
              </button>
            </form>
          </div>
        </div>

        <div *ngIf="comments" class="col-10 offset-md-1">
          <comment-list
            (deleteComment)="onDeleteComment(comment.id)"
            *ngFor="let comment of comments"
            [comment]="comment">
          </comment-list>
        </div>

      </div>
    </div>

  </div>
</div>
