<div class="list-group py-4" role="tablist">

  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'project'}"
     href="project/{{projectId}}">Project info</a>
  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'tickets'}"
     href="project/{{projectId}}/ticket">Tickets</a>
  <a class="list-group-item list-group-item-action" [ngClass]="{'active': states === 'dashboard'}"
     href="project/{{projectId}}/dashboard">Dashboard</a>

</div>
